/* .khan {
    background-color: aquamarine;
    color: bisque;
    border: 1px solid bisque;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;

}
.khan img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.khan h1 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
} */